body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 1rem;
}

.flex-container {
    border: 3px dashed rgb(139, 79, 0);
    background-color: lightyellow;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    direction: column;
}

.flex-item {
    width: 100px;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 20%);
    padding: 0.5rem;
    background-color: #bbb;
    color: #333;
}

.item1 {
    min-height: 20px;
}

.item2 {
    min-height: 20px;
}

.item3 {
    min-height: 20px;
}